
<section>
  <figure>
    <img src="../../../assets/img/me-lateral.png" alt="Raudel pic">
  </figure>
  <div class="right-icons">
    <h2>Why me</h2>
    <p>
      I am motivated to continuously learn new technologies and develop myself. My ability to solve complex problems and my passion for programming make me a valuable member of your team.
    </p>
    <div>
      <p>I am</p>
      <div class="first-icons-group">
        <figure>
          <img src="../../../assets/img/Vector.png" alt="location">
          <figcaption>located in Munich</figcaption>
        </figure>
        <figure>
          <img src="../../../assets/img/Aroow 01.png" alt="arrow">
        </figure>
        <figure>
          <img src="../../../assets/img/icon_Remote.png" alt="open to work remote">
          <figcaption>open to work remote</figcaption>
        </figure>
      </div>
      <div>
        <figure>
          <img src="" alt="">
          <figcaption>open to work remote</figcaption>
        </figure>
        <div>
          <figure>
            <img src="" alt="">
          </figure>
          <figure>
            <img src="" alt="">
            <figcaption>open to work remote</figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div>
      <button>Let´s talk</button>
    </div>
  </div>
</section>