/*Colors*/
$redColor: #E15544;
$turkuoiseColor: #02F4BF;
$bgMainColor:#120B35;

.d-flex-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divider{
  width: 2px;
  height: 18px;
}

